{{> navBar logout='logout'}}
<div class='card mx-auto' style='width: 25rem; border:none; margin-top:5%'>
  <h1 class=' mx-auto'>修改帳目</h1>
  {{!-- {{> message}} --}}
  <div class='card-body'>
    <form action="/{{expense._id}}/edit?_method=PUT" method="POST">
      <div class="mb-3 d-flex checktype">
        <input class="btn-check" type="checkbox" name="type" id="costCheck" value="支" {{#ifCond expense.type "支"
          }}checked{{/ifCond}}>
        <label class="btn btn-outline-primary flex-fill" for="costCheck">支出</label>
        <input class="btn-check " type="checkbox" name="type" id="incomeCheck" value="收" {{#ifCond expense.type "收"
          }}checked{{/ifCond}}>
        <label class="btn btn-outline-primary flex-fill" for="incomeCheck">收入</label>
      </div>
      <div class="mb-3 d-flex">
        <label for="name" class="input-group-text">名稱*</label>
        <input type="text" id="name" name="name" class="form-control " value="{{expense.name}}">
      </div>
      <div class='mb-3 d-flex'>
        <label for='date' class='input-group-text'>日期*</label>
        <input type='date' name='date' class='form-control' id='date' value="{{expense.date}}" />
      </div>
      <div class='mb-3 d-flex'>
        <label for='categoryId' class='input-group-text'>類別*</label>
        <select name="categoryId" class="form-select" id="categoryId">
          {{!-- <option value="">Choose...</option> --}}
          {{#each categories}}
          <option value="{{this._id}}" {{#ifCond this._id ../expense.categoryId}}selected{{/ifCond}}>{{this.name}}
          </option> 
          {{/each}}


        </select>
      </div>
      <div class="mb-3 d-flex">
        <label for="cost" class="input-group-text">金額*</label>
        <input type="number" id="cost" name="cost" class="form-control" min="1" value="{{expense.cost}}">
      </div>
      <div class='text-danger note'>{{note}}</div>
      <button type='submit' class='btn btn-info d-block mx-auto mt-3 ' style="width: 16rem;">送出修改</button>
      <a class="btn btn-outline-secondary d-block mx-auto mt-3" style="width: 16rem"
        href="javascript:history.back()">Back</a>
    </form>
  </div>
</div>