{{> navBar route ='index' logout='logout'}}
<div class='card mx-auto' style='width: 80%; border:none; margin-top:5%'>
  <form action="/sorting" method="get">
    <div class='mb-3 d-flex mx-auto' style='width: 30%; border:none'>
      <label for='sortMethod' class='input-group-text'>排序</label>
      <select name="sortMethod" class="form-select" id="sortMethod" onchange='this.form.submit()' >
        <option value="-1"{{#ifCond sortMethod '-1'}}selected{{/ifCond}}>倒序</option>
        <option value="1"{{#ifCond sortMethod '1'}}selected{{/ifCond}}>正序</option>
        
      </select>
      <select name="sortTitle" class="form-select" id="sortTitle" onchange='this.form.submit()'>
        <option value="date"{{#ifCond sortTitle 'date'}}selected{{/ifCond}}>日期</option>
        <option value="category" {{#ifCond sortTitle 'category'}}selected{{/ifCond}}>類別</option>
        <option value="name" {{#ifCond sortTitle 'name'}}selected{{/ifCond}}>名稱</option>
        <option value="cost"{{#ifCond sortTitle 'cost'}}selected{{/ifCond}} >金額</option>
      </select>
    </div>
    <div class='mb-3 d-flex mx-auto' style='width: 30%; border:none'>
      <label for='sortCategory' class='input-group-text'>類別*</label>
      <select name="sortCategory" class="form-select" id="sortCategory" onchange='this.form.submit()'>
        <option value="null" selected>Choose...</option>
        {{#each categories}}
          <option value="{{this._id}}" {{#ifCond this._id ../sortCategory}}selected{{/ifCond}}>{{this.name}}</option>
          {{/each}}
      </select>
    </div>
  </form>
  <div class='mb-3 d-flex mx-auto' style='width: 30%; border:none' id="totalAmount">
    <ul class="list-group list-group-horizontal flex-fill ">
      <li class="list-group-item list-group-item-warning">總收支</li>
      <li class="list-group-item flex-fill">{{totalSpending}}</li>
    </ul>
  </div>
  <div class="mx-auto">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center">收/支</th>
          <th scope="col" class="text-center">類別</th>
          <th scope="col" class="text-center">名稱</th>
          <th scope="col" class="text-center">日期</th>
          <th scope="col" class="text-center">金額</th>
          <th scope="col" class="text-center">編輯</th>
          <th scope="col" class="text-center">刪除</th>
        </tr>
      </thead>
      <tbody>
        {{#each expenses}}
        <tr class="{{#ifCond this.type '收'}}table-success{{/ifCond}} align-middle">
          <td class="text-center">{{this.type}}</td>
          <td class="text-center"><i class="{{this.category.img}}"></i></td>
          <td class="text-center">{{this.name}}</td>
          <td class="text-center">{{this.date}}</td>
          <td class="text-center">{{this.cost}}</td>
          <td class="text-center"><a href="/{{this._id}}/edit"><i class="fa-solid fa-pen-to-square"></i></a></td>
          <td class="text-center">
            <form action="/{{ this._id }}?_method=DELETE" method="POST"><button style="background-color: transparent; outline:none; border:none"><i class="fa-solid fa-trash" ></i></button></form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>

</div>